<!DOCTYPE html>
<html lang="en"> 

<head>

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Корзина | Brand SHOP</title>
</head>

<body>
	<div class="mega-container" id="mega-container">
		<data-error ref="error"></data-error>
		<header>
			<div class="container d-flex">
				<div class="head__left">
					<a href="index.html" class="logo"><img src="img/brand.png" alt="brand">BRAN<span>D</span></a>
					<form action="#" class="header__form">
						<div class="browse__box">
							<div class="browse">Browse</div>
							<div class="drop">
								<div class="drop__flex">
									<h3 class="drop__title">Women</h3>
									<ul class="drop__list">
										<li><a href="product.html" class="drop__link">Dresses</a></li>
										<li><a href="product.html" class="drop__link">Tops</a></li>
										<li><a href="product.html" class="drop__link">Sweaters/Knits</a></li>
										<li><a href="product.html" class="drop__link">Jackets/Coats</a></li>
										<li><a href="product.html" class="drop__link">Blazers</a></li>
										<li><a href="product.html" class="drop__link">Denim</a></li>
										<li><a href="product.html" class="drop__link">Leggings/Pants</a></li>
										<li><a href="product.html" class="drop__link">Skirts/Shorts</a></li>
										<li><a href="product.html" class="drop__link">Accessories </a></li>
									</ul>
									<h3 class="drop__title">Men</h3>
									<ul class="drop__list">
										<li><a href="product.html" class="drop__link">Dresses</a></li>
										<li><a href="product.html" class="drop__link">Tops</a></li>
										<li><a href="product.html" class="drop__link">Sweaters/Knits</a></li>
										<li><a href="product.html" class="drop__link">Jackets/Coats</a></li>
										<li><a href="product.html" class="drop__link">Blazers</a></li>
										<li><a href="product.html" class="drop__link">Denim</a></li>
									</ul>
								</div>
							</div>
						</div>
						<input type="text" placeholder="    Search for Item" class="form__search placeholder">
						<button type="submit" class="form_button"><i class="fas fa-search"></i></button>
					</form>
				</div>
				<div class="head__right">
					<cart ref="cart"></cart>
					<a href="index.html" class="button">My Account<i class="fas fa-sort-down"></i></a> </div>
			</div>
		</header>
		<nav>
			<div class="container">
				<ul class="menu">
					<li class="menu__item"><a href="index.html" class="menu__link">home</a></li>
					<li class="menu__item"><a href="product.html" class="menu__link">man</a></li>
					<li class="menu__item"><a href="product.html" class="menu__link">women</a>
						<div class="drop drop_menu">
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="product.html" class="drop__link">Dresses</a></li>
									<li><a href="product.html" class="drop__link">Tops</a></li>
									<li><a href="product.html" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="product.html" class="drop__link">Jackets/Coats</a></li>
									<li><a href="product.html" class="drop__link">Blazers</a></li>
									<li><a href="product.html" class="drop__link">Denim</a></li>
									<li><a href="product.html" class="drop__link">Leggings/Pants</a></li>
									<li><a href="product.html" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="product.html" class="drop__link">Accessories </a></li>
								</ul>
								<h3 class="drop__title">Men</h3>
								<ul class="drop__list">
									<li><a href="product.html" class="drop__link">Dresses</a></li>
									<li><a href="product.html" class="drop__link">Tops</a></li>
									<li><a href="product.html" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="product.html" class="drop__link">Jackets/Coats</a></li>
									<li><a href="product.html" class="drop__link">Blazers</a></li>
									<li><a href="product.html" class="drop__link">Denim</a></li>
								</ul>
							</div>
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
								<h3 class="drop__title">Men</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
								</ul>
							</div>
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
								<h3 class="drop__title">Men</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="menu__item"><a href="product.html" class="menu__link">kids</a></li>
					<li class="menu__item"><a href="product.html" class="menu__link">accoseriese</a></li>
					<li class="menu__item"><a href="product.html" class="menu__link">featured</a></li>
					<li class="menu__item"><a href="product.html" class="menu__link">hot deals</a>
						<div class="drop drop_menu drop_menu_last">
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="product.html" class="drop__link">Dresses</a></li>
									<li><a href="product.html" class="drop__link">Tops</a></li>
									<li><a href="product.html" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="product.html" class="drop__link">Jackets/Coats</a></li>
									<li><a href="product.html" class="drop__link">Blazers</a></li>
									<li><a href="product.html" class="drop__link">Denim</a></li>
									<li><a href="product.html" class="drop__link">Leggings/Pants</a></li>
									<li><a href="product.html" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="product.html" class="drop__link">Accessories </a></li>
								</ul>
							</div>
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
								<h3 class="drop__title">Men</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
								</ul>
							</div>
							<div class="drop__flex">
								<h3 class="drop__title">Women</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
								<h3 class="drop__title">Men</h3>
								<ul class="drop__list">
									<li><a href="" class="drop__link">Dresses</a></li>
									<li><a href="" class="drop__link">Tops</a></li>
									<li><a href="" class="drop__link">Sweaters/Knits</a></li>
									<li><a href="" class="drop__link">Jackets/Coats</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Blazers</a></li>
									<li><a href="" class="drop__link">Denim</a></li>
									<li><a href="" class="drop__link">Leggings/Pants</a></li>
									<li><a href="" class="drop__link">Skirts/Shorts</a></li>
									<li><a href="" class="drop__link">Accessories </a></li>
								</ul>
							</div>
						</div></li>
				</ul>
			</div>
		</nav>
		<nav class="breadcrumbs">
				<div class="container d-flex">
					<div class="bread__left">
						<h2>NEW ARRIVALS</h2> </div>
					<div class="bread__right">
						<a class="bread__link" href="index.html">HOME / </a><a class="bread__link" href="product.html">MEN / </a><span class="bread__link pink">NEW ARRIVALS</span>
					</div>
				</div>
			</nav>
		<div class="container bsk-tbl">
			<table class="basket">
				<tr class="basket__title">
					<th class="basket__th basket__left">Product Details</th>
					<th class="basket__th">unite Price</th>
					<th class="basket__th">Quantity</th>
					<th class="basket__th">shipping</th>
					<th class="basket__th">Subtotal</th>
					<th class="basket__th">action</th>
				</tr>
				<tr class="basket__card"  v-for="item of cartItems" :key="item.id_product">
					<td class="basket__td basket__left">
						<a href="single.html">
								<img class="basket__img" :src="item.img" :alt="item.product_name">
						</a>
						<a href="single.html">
							<p class="basket__name">{{item.product_name}}</p>
						</a>
						<p class="basket__option">
									Color: <span class="basket__grey">Red</span><br>
									Size: <span class="basket__grey">XL</span>
						</p>

					</td>
					<td class="basket__td">$ {{item.price}}</td>
					<td class="basket__td">
						<input class="basket__quantity" type="number" true-value="item.quantity" v-model="item.quantity">
					</td>
					<td class="basket__td">FREE</td>
					<td class="basket__td">$ {{item.price * item.quantity}}</td>
					<td class="basket__td">
						<a class="basket__del" href="#" @click.prevent="remove(item)">
							<i class="fas fa-times-circle"></i>
						</a>
					</td>
				</tr>
			</table>
			<div class="table__option">
				<a class="bsk-button" href="#" @click.prevent="clear">Clear shopping cart</a>
				<a class="bsk-button" href="">continue shopping</a>
			</div>
		</div>
		<div class="container bsk-option">
			<div class="bskbot">
				<h2 class="bskbot__h2">Shipping adress</h2>
				<form class="ship-dress" action="#">
					<select class="bskbot__area" name="city">
						<option value="Kingsiepp">Kingsiepp</option>
						<option value="Moscow">Moscow</option>
						<option value="London">London</option>
					</select>
					<input class="bskbot__area" type="text" placeholder="State">
					<input class="bskbot__area" type="text" placeholder="Postcode / Zip">
					<button class="bskbot__button" type="submit">get a quote</button>
				</form>
			</div>
			<div class="bskbot">
					<h2 class="bskbot__h2">Coupon discount</h2>
					<form class="ship-discount" action="#">
						<p class="bskbot__p">Enter your coupon code if you have one</p>
						<input class="bskbot__area" type="text" placeholder="Number coupon">
						<button class="bskbot__button" type="submit">apply coupon</button>
					</form>
				</div>
			<div class="bskbot chk">
				<p class="chk__sub">sub total<span class="chk__sub__summ">$ {{cartAmount}}</span></p>
				<p class="chk__total">grand total<span class="chk__total__summ">$ {{cartAmount}}</span></p>
				<a href="checkout.html" class="chk__button">proceed to checkout</a>
			</div>
		</div>
		<div class="sub">
			<div class="container sub-flex">
				<div class="sub__left">
					<div class="sub__left__block">
						<div class="top__block"> <img src="img/sub_portret.png" alt="portret">
							<p>“Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”</p>
						</div>
						<div class="bottom__block">
							<div class="bottom__block__text">
								<h2>Bin Burhan</h2>
								<h3>Dhaka, Bd</h3> </div>
							<div class="bottom__line">
								<div class="left__line"></div>
								<div class="right__line"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="sub__right">
					<div class="sub__right__block">
						<div class="block__text">
							<h2>SUBSCRIBE</h2>
							<h3>FOR OUR NEWLETTER AND PROMOTION</h3> </div>
						<div class="sub__search">
							<form action="#">
								<input type="email" placeholder="   Enter Your Email" class="placeholder">
								<button type="submit">Subscribe</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="preFooter">
			<div class="container">
				<div class="preF__box">
					<div class="preF__box__brand">
						<a href="index.html" class="logo"><img src="img/brand.png" alt="brand">BRAN<span>D</span></a>
						<br>
						<p>Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
							<br>
							<br>Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.</p>
					</div>
					<nav class="preF__box__company">
						<h2 class="ftitle">COMPANY</h2>
						<ul class="comp">
							<li class="comp_list"><a href="#" class="comp_link">Home</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Shop</a></li>
							<li class="comp_list"><a href="#" class="comp_link">About</a></li>
							<li class="comp_list"><a href="#" class="comp_link">How it Works</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Contact</a></li>
						</ul>
					</nav>
					<nav class="preF__box__info">
						<h2 class="ftitle">INFORMATION</h2>
						<ul class="comp">
							<li class="comp_list"><a href="#" class="comp_link">Tearms &amp;&nbsp;Condition</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Privacy Policy</a></li>
							<li class="comp_list"><a href="#" class="comp_link">How to Buy</a></li>
							<li class="comp_list"><a href="#" class="comp_link">How to Sell</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Promotion</a></li>
						</ul>
					</nav>
					<nav class="preF__box__shop">
						<h2 class="ftitle">SHOP CATEGORY</h2>
						<ul class="comp">
							<li class="comp_list"><a href="#" class="comp_link">Men</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Women</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Child</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Apparel</a></li>
							<li class="comp_list"><a href="#" class="comp_link">Brows All</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<footer>
			<div class="container d-flex">
				<div class="footer__left">&copy; 2017 Brand All Rights Reserved.</div>
				<div class="footer__right"> <a href="#" class="soc white"><i class="fab fa-facebook-f"></i></a> <a href="#" class="soc red"><i class="fab fa-twitter"></i></a> <a href="#" class="soc gray"><i class="fab fa-linkedin-in"></i></a> <a href="#" class="soc white"><i class="fab fa-pinterest-p"></i></a> <a href="#" class="soc white"><i class="fab fa-google-plus-g"></i></a> </div>
			</div>
		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/ProductsComponent.js"></script>
	<script src="js/CartComponent.js"></script>
	<script src="js/dataError.js"></script>
	<script defer src="js/main.js"></script>
</body>

</html>
